body {
  background: #eeeeee; }

a {
  text-decoration: none !important;
  color: #a70050 !important; }
  a:visited {
    color: #60002e !important; }
  a:hover {
    color: #ef0072 !important; }

.bd li > a {
  color: black !important; }
  .bd li > a:hover {
    background-color: #eeeeee;
    color: #a70050 !important; }
  .bd li > a.yuimenuitemlabel-selected {
    background-color: #eeeeee; }

h1, h2 {
  color: #ef0072; }

h3, h4, h5, h6 {
  color: #60002e; }

#top-panel {
  background: none; }
  #top-panel #login-field span a {
    background: none; }
  #top-panel td #searchform a {
    background: none; }
  #top-panel td > a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABzhJREFUeNrsnV9sHMUdx7+/mf1zd76z4wSHOKFxoSiFiIhQKA0UIUQFfalUBFRtVSHU5xakABLqW3lDIMEDJSVqKAJeWhQq0aKkFEJa1DiFtKJK3NRxGhLnYueP7Tv7bu/W+2dmeDjHsd0kt/F6by/yjOQHW7M7v/ns7/edmd/MrukknoEu0QrTCDQsDUvD0rA0LA1LI9CwNCwNS8PSsJZ9MWJerxAqhFdFVwkGxeuvEY9UkP3uxsz3NkKodkfFydt9pL7rIMFKC5Zn33dD4ef3XB1R5Aln1794DFgxNYtB0NWiOEoCoNTCEADZxqLdUtV8Me7IUt34Sjfr6bhMXTleC4tl1p3jq/KUtxbXZcpyajS8WGRGrCgEkOFXdI0oTnqfDnsHTgQDo+JoWZypy2ln1RuPdfzk9stc5X50ZOLxt5ndwdfk+I3d5i1r7Tv67C19fH33FcAyWbqeRWRGheX/s1h7Y7/7l8Hgf+NACHACJ3BAULPhgRTBF8p3g6rjHz3t7j4EcPNr12QeuDn/0y3WneujwTJShoUIsERxsvL8h9U3P1M1h2AxmIAN0IxvgjXvAjV+GIERLEABMjxWqhzb67x1IP/YHV2/eJD3NfMyy6B4sOIIvCIQ2U1gubsOn33wlcq2j1GTDAWCdb5RFSv8wQgWRx51Wd3+17MPvOL+caAJcIupC0+o5aOhApF1OVjOb/aPPbojGDzHUCCwOIZe2ucYQyE4Ojb2gx3Oq/su71lgKXmWAogRWZcM5NpvPy098Tu4kiGTBKa5tjBk4FPpqd872/sv2VXLIE4qLc+CQbgErOmPhkpPvgOP4syYr1Q+4bPy1p3ursGL17A5jBQ1izF2sTCUZ6rlrTtlzSOYCfvUAg01pRuUn35XjFQuplmcGEsLVsOzLgKr8tLH3kCRIZdGFiXrD56qvLCn7TwLjP2/ZgUDZ6rb+xlyLfSpBfqVc17v9z8/tbCrpkGcIU3NWjB1UHC2/V1WqpRepozAZM1xtu2DnM+FM6QYhsTYAhUIh8v19w8SzLRTV7a7+1B4vDS/rw1YaXkWW/ispj8cDIsTbQDLDEfK0x8MLkhppTbPaoyGxOfdof7+QGNdknY+hgBW/9PBuW5EnJGR4mjIae74IkYrwb7i+bVbyskrguX/45QolucoLEN6Aq/ImKdZ3v4T4cQUgaMNCoGJyarXf3yewqbpWQbDnOb9AyfRXpsXwvvs5IXfzIZnpQaLz8JSoQz+czpmwmjJp6jB4TPKF3MeLU8tDMHnwJp0w5MlaidYBCaKZVVyzws8EeepeRbjF0ZDOVGX41W0h2DNGijHq3KiNjvRoTQFPmuwzsyMPJytykm3zba4SUy54uzUTFe7MtRhxRmn46SVuThdc3b0W9+4zty0Njw1qdygZQmZqOsezwuLFaseBIdG/X+PipFqnE1pI4YppihOTfzsHWZYfN0KMJAy20zgicGaeu7PU7/8QIxMysBjMNOBdd4aG6EKhycAUOxdyCRkKzzesI0z2DHvtSTdo7bENBsBS2abPnKkYSVTYrqoUhCRw4EnI/+tsyEeLE5UMKPa6SiECWQjDKJ85PTZjA0tPxii4Fsbr+ve9ih1WE0Os3FCKCefeW/6kyGKPSTNt8HLfPOGFS8/DIs3t6EelJ541/98eNE2xIEl0WnbW74accuEVmUU5NLGoYJEd9b61vqItanLVlCLtiGewIdS1f2INRHIRFQ3lMqLlBdSNT/mcU49GmpYGpaGpWFpWLpoWBqWhqVhLRtYZDAqRFuUGgxWIrtkZPKIr8RQ3iIzVn/jbFgYYqRafXEvbN5kL44AhXCotOTZZ4IhvihXX/obODW3wZdieCqt3R1DnCiVnv1DZB82l/zcFsEM/nuu9PTOyDZYKe7uMIZM6krSMhu0wGtYGpaGpWFpWLpoWFcdrKZn+Tm1w2GmdoBFyDaZ2VPW0rAAKOKMdWWbWLkiQwZL/V2ENoBl20ZvV5NFWW8XZezlDktBsjUFvq6ziZW9nXxdQUGmG4zpwiKF0Nx8bdOkGOVMc/MaBX85e5YCwsz9N0WpmvnOzY1vXyxTWBI165b1uUdujVI59/1N9m19EvVlBUspCAlPwjE3XLvytR/xNflIhq7uWPnaj82beiUciWkF0Xq951txd8KRFih4CoFCoBAqCFYwzQ2r84/ftfJXPzQ39V6Breu6cg9tJstSlWnlutKfvW2gEGDmFGSSEpvox/MVwsy9N1p39yEQMDnrsNnaTnNDj/n11awnv/j4HasFQ+eCI2NydErWvMbN/QPF6T1DiR4yN5J2q+xDmwpb711i7ejpsHuut799/dw/Vn/d7+45nCisxDVLBaJFiuIn3lDisCjTopcvWtBQsg0QTO+TLyhrIEx4fmQwb++xpN+KoaT/O0pjBEx+mCcCTxpW4q4b/7uz7VN0plTD0rA0LA1Lw9JFw9KwNCwNS8PSsHT5cgB6ZICPUIGzIwAAAABJRU5ErkJggg==") 0 0 no-repeat;
    background-size: 30px 30px;
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px 0 5px 5px; }
    #top-panel td > a img {
      display: none; }

#projectstatus {
  background: #fff; }
  #projectstatus tr:nth-of-type(odd) {
    background-color: #d4d4d4; }
    #projectstatus tr:nth-of-type(odd) :hover {
      background-color: #bbbbbb; }
  #projectstatus tr:nth-of-type(even) {
    background-color: white; }
    #projectstatus tr:nth-of-type(even) :hover {
      background-color: #bbbbbb; }

#side-panel {
  background-color: #fff; }

#main-panel {
  background: #fff; }

#footer {
  border-top: 1px solid #cccccc; }

#view-message #description a img {
  padding-right: 4px; }
